// =============================
// Description: Company card component styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

.company-card {
    box-shadow: $primary-box-shadow;

    padding: 10px;

    border: 3px solid;
    border-radius: 10px;

    @include media-query($breakpoint: $desktop-breakpoint) {
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $light-gray-color;
        }
    }

    &-logo {
        display: block;

        height: 40px;

        margin: auto;
    }

    &-position,
    &-degree {
        @include text(
            $font-size: 1rem,
            $font-weight: 400,
            $color: $black-color,
            $line-height: 1.25rem
        );
        text-align: center;

        margin-top: 20px;
    }

    &-dates,
    &-grade,
    &-work {
        @include text(
            $font-size: 1rem,
            $font-weight: 300,
            $color: $black-color,
            $line-height: null
        );
        text-align: center;

        margin-top: 10px;
    }
}

#company-card-qualtrics {
    position: relative;

    border-color: transparent;

    background-color: $primary-background-color;
    background-clip: padding-box;

    @include media-query($breakpoint: $desktop-breakpoint) {
        &:hover {
            background-color: $light-gray-color;
        }
    }

    &::after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: -3px;
        border-radius: inherit;

        background: linear-gradient(
            to right,
            $qualtrics-seaform-color,
            $qualtrics-glacier-color,
            $qualtrics-cobalt-color,
            $qualtrics-nightshade-color
        );

        z-index: -1;
    }
}

#company-card-florida-tech {
    border-color: $florida-tech-color;
}

#company-card-treehouse {
    border-color: $treehouse-color;
}

#company-card-udemy {
    border-color: $udemy-color;
}

#company-card-frontend-masters {
    border-color: $frontend-masters-color;
}
