// =============================
// File Path: scss/components/_home-page-header.scss
// Description: Page header styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/13/2019
// =============================

#home-page-header {
  @include flex-container($justify-content: null, $align-items: space-between);
  flex-direction: column;
  width: 280px;
  margin: 25px auto 0;

  @include media-query($breakpoint: $tablet-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 40px 0;
    width: auto;
  }

  &-card {
    background-color: $primary-white;
    border: 3px solid $primary-black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: $primary-box-shadow;

    @include media-query($breakpoint: $tablet-breakpoint) {
      width: 325px;
      padding: 30px;
      justify-content: space-between;
    }

    &-top {
      @include flex-container(
        $justify-content: space-between,
        $align-items: null
      );
    }

    &-small-text {
      @include text(
        $font-size: 1.1rem,
        $font-weight: 300,
        $color: $primary-black,
        $line-height: 1.4rem
      );

      @include media-query($breakpoint: $tablet-breakpoint) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }

    &-medium-text {
      @include text(
        $font-size: 1.1rem,
        $font-weight: 400,
        $color: $primary-black,
        $line-height: 1.4rem
      );
      padding-top: 15px;

      @include media-query($breakpoint: $tablet-breakpoint) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      @include media-query($breakpoint: $desktop-breakpoint) {
        font-size: 1.56rem;
        line-height: 1.9rem;
        padding-top: 20px;
      }
    }

    &-large-text {
      @include text(
        $font-size: 1.8rem,
        $font-weight: 400,
        $color: $primary-black,
        $line-height: 2.2rem
      );
      padding-top: 15px;

      @include media-query($breakpoint: $tablet-breakpoint) {
        font-size: 2.19rem;
        line-height: 2.5rem;
        padding-top: 20px;
      }

      @include media-query($breakpoint: $desktop-breakpoint) {
        font-size: 2.5rem;
        line-height: 2.9rem;
      }
    }

    &-img {
      display: block;
      height: 80px;
    }
  }

  &-links {
    @include flex-container(
      $justify-content: space-between,
      $align-items: center
    );
    margin-top: 20px;

    @include media-query($breakpoint: $tablet-breakpoint) {
      flex-direction: column;
      margin: 0;
    }
  }
}

.home-page-header-link {
  @include flex-container($justify-content: center, $align-items: center);
  width: 130px;
  height: 45px;
  border-radius: 20px;
  box-shadow: $primary-box-shadow;

  @include media-query($breakpoint: $desktop-breakpoint) {
    padding: 10px 20px;
  }

  &-text {
    @include text(
      $font-size: 1.2rem,
      $font-weight: 300,
      $color: null,
      $line-height: null
    );

    @include media-query($breakpoint: $desktop-breakpoint) {
      font-size: 1rem;
    }
  }

  &-logo {
    height: 25px;
    padding-right: 10px;
  }
}

#home-page-header-link {
  &-github {
    background-color: $github-black;

    &-text {
      color: $primary-white;
    }
  }

  &-linkedin {
    background-color: $linkedin-blue;

    &-text {
      color: $primary-white;
    }
  }

  &-email {
    display: none;
    background-color: $primary-red;

    @include media-query($breakpoint: $tablet-breakpoint) {
      @include flex-container($justify-content: center, $align-items: center);
    }

    &-text {
      color: $primary-white;
    }
  }
}
