// =============================
// Description: Info section component styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

.info-section {
    max-width: 1200px;

    margin: 40px 10px 0;

    &:first-child {
        margin-top: 20px;
    }

    @include media-query($breakpoint: $tablet-breakpoint) {
        margin: 40px auto 0;

        &:first-child {
            margin-top: 40px;
        }
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
        margin: 60px auto 0;
    }
}
