// =============================
// Description: Main navigation component styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

#main-nav {
    position: absolute;
    top: 43px;
    left: 0;

    width: 100%;

    background-color: $white-color;

    padding: 13px 0;

    z-index: 1000;

    box-shadow: $primary-box-shadow;

    transition: transform 0.4s ease-in-out;
    transform-origin: top;

    transform: scaleY(1);

    @include media-query($breakpoint: $tablet-breakpoint) {
        position: initial;

        width: auto;

        background-color: transparent;

        padding: 0;
        margin: auto;

        z-index: initial;

        box-shadow: none;
    }
}

.main-nav-show-instantly {
    transition: none !important;
    transform: scaleY(1);
}

.main-nav-hide {
    transform: scaleY(0) !important;
}

.main-nav-hide-instantly {
    transition: none !important;
    transform: scaleY(0);
}

.main-nav-list-item {
    width: 40%;

    margin: auto;

    list-style: none;

    @include media-query($breakpoint: $tablet-breakpoint) {
        display: inline-block;

        width: auto;

        margin-left: 10px;
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.main-nav-link {
    display: block;

    @include text(
        $font-size: 1.125rem,
        $font-weight: 300,
        $color: $black-color,
        $line-height: null
    );
    text-align: center;

    padding: 5px 0;
    margin: 8px 0;

    border-radius: 6px;

    @include media-query($breakpoint: $tablet-breakpoint) {
        color: $white-color;

        padding: 5px 15px;
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
        transition: all 0.2s ease-in-out;

        &:hover {
            color: $black-color;

            background-color: $white-color;
        }
    }
}

#main-nav-current-link {
    @include text(
        $font-size: 1.125rem,
        $font-weight: 400,
        $color: $white-color,
        $line-height: null
    );

    background-color: $red-color;

    @include media-query($breakpoint: $tablet-breakpoint) {
        color: $black-color;

        background-color: $white-color;
    }
}
