// =============================
// Description: Page header component styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

#page-header {
    position: relative;

    // Extra row at the bottom set to 1fr in order to fill extra space (in case the header background height is greater than the header height)
    @include grid(
        $grid-template-rows: auto auto auto 1fr,
        $grid-template-columns: 1fr 1fr 1fr,
        $align-items: center
    );
    grid-template-areas:
        "hamburger-button name ."
        "social-links social-links social-links"
        "title title title"
        ". . .";

    height: $header-height;

    padding-top: 10px;

    @include media-query($breakpoint: $tablet-breakpoint) {
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-areas:
            "name main-nav social-links"
            "title title title";
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: $header-height;

        background-color: $primary-color;

        clip-path: polygon(0 0, 100% 0, 100% 185px, 0 150px);

        // Puts the background behind the actual header
        z-index: -1;

        @include media-query($breakpoint: $tablet-breakpoint) {
            height: 110px;

            clip-path: polygon(0 0, 100% 0, 100% 110px, 0 75px);
        }
    }

    &-name {
        grid-area: name;

        @include text(
            $font-size: 1.25rem,
            $font-weight: 500,
            $color: $white-color,
            $line-height: null
        );
        text-align: center;

        margin: 0;
        padding: 0;

        @include media-query($breakpoint: $tablet-breakpoint) {
            text-align: initial;
            margin-left: 20px;
        }

        @include media-query($breakpoint: $desktop-breakpoint) {
            margin-left: 40px;
        }
    }

    &-title {
        grid-area: title;

        @include text(
            $font-size: 1.5625rem,
            $font-weight: 400,
            $color: $white-color,
            $line-height: null
        );
        text-align: center;

        margin: 20px 0 0;
        padding: 0;

        @include media-query($breakpoint: $tablet-breakpoint) {
            color: $primary-color;

            margin-top: 60px;
        }

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 1.875rem;
            color: $primary-color;

            margin-top: 60px;
        }
    }
}

#hamburger-button {
    grid-area: hamburger-button;

    width: 25px;

    background-color: transparent;

    margin-left: 10px;

    border: none;
    outline: none;

    @include media-query($breakpoint: $tablet-breakpoint) {
        display: none;
    }
}

.hamburger-button-line {
    width: 100%;
    height: 2px;

    background-color: $white-color;

    margin-bottom: 6px;

    border-radius: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}
