// =============================
// Description: Project component styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

.project {
    text-align: center;

    padding: 20px 10px;

    @include media-query($breakpoint: $tablet-breakpoint) {
        padding: 20px;
    }

    &-content {
        max-width: 1000px;

        margin: auto;
    }

    &-header {
        @include flex($justify-content: center, $align-items: center);
        flex-direction: column;

        @include media-query($breakpoint: $desktop-breakpoint) {
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &-name {
        position: relative;
        display: inline-block;

        @include text(
            $font-size: 1.5625rem,
            $font-weight: 400,
            $color: $white-color,
            $line-height: null
        );

        margin: 0;

        &::after {
            content: "";

            position: absolute;
            bottom: -2px;
            left: 0;

            width: 30px;
            height: 2px;

            background-color: $white-color;
        }

        @include media-query($breakpoint: $tablet-breakpoint) {
            display: inline;
        }
    }

    &-type {
        @include text(
            $font-size: 1.25rem,
            $font-weight: 300,
            $color: $white-color,
            $line-height: null
        );

        margin-top: 10px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            display: inline;

            font-size: 1.5625rem;

            margin-top: 0;

            &::before {
                content: "•";
                margin: auto 10px auto 7px;
            }
        }
    }

    &-links {
        @include flex($justify-content: center, $align-items: center);

        margin-top: 20px;

        @include media-query($breakpoint: $desktop-breakpoint) {
            margin-top: 0;
        }
    }

    &-link {
        @include text(
            $font-size: 1.125rem,
            $font-weight: 400,
            $color: $white-color,
            $line-height: null
        );

        padding: 6px 12px;

        border-radius: 10px;

        box-shadow: $primary-box-shadow;

        transition: all 0.2s ease-in-out;

        &:first-child {
            margin-right: 60px;

            @include media-query($breakpoint: $tablet-breakpoint) {
                margin-right: 80px;
            }
        }

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 1.25rem;
        }
    }

    &-screenshot {
        width: 100%;

        margin-top: 30px;

        box-shadow: $primary-box-shadow;

        border-radius: 3px;
    }

    &-description {
        position: relative;

        @include text(
            $font-size: 1rem,
            $font-weight: 300,
            $color: $white-color,
            $line-height: 1.25rem
        );
        text-align: justify;

        margin-top: 20px;

        &::after {
            content: "";

            position: absolute;
            bottom: -12px;
            left: 0;

            width: 100px;
            height: 2px;

            background-color: $white-color;

            @include media-query($breakpoint: $tablet-breakpoint) {
                bottom: -13px;
            }
        }

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }
    }

    &-tech-stack {
        @include text(
            $font-size: 1rem,
            $font-weight: 300,
            $color: $white-color,
            $line-height: 1.25rem
        );
        text-align: justify;

        margin-top: 22px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }
    }
}

#tma-project {
    background-color: rgba($tma-primary-color, 0.8);

    &-link {
        background-color: $tma-secondary-color;

        @include media-query($breakpoint: $desktop-breakpoint) {
            &:hover {
                color: $tma-secondary-color;

                background-color: $white-color;
            }
        }
    }
}

#web-app-dashboard-project {
    background-color: rgba($web-app-dashboard-primary-color, 0.8);

    &-link {
        background-color: $web-app-dashboard-secondary-color;

        @include media-query($breakpoint: $desktop-breakpoint) {
            &:hover {
                color: $web-app-dashboard-secondary-color;

                background-color: $white-color;
            }
        }
    }
}

#web-style-guide-project {
    background-color: rgba($web-style-guide-primary-color, 0.8);

    &-link {
        background-color: $web-style-guide-secondary-color;

        @include media-query($breakpoint: $desktop-breakpoint) {
            &:hover {
                color: $web-style-guide-secondary-color;
                background-color: $white-color;
            }
        }
    }
}
