// =============================
// File Path: scss/components/_about-me-page-header.scss
// Description: Paragraph styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/13/2020
// =============================

#projects-page-header-card {
  width: 280px;
  margin: auto;
  border: 3px solid $primary-black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: $primary-box-shadow;
  margin-top: 25px;

  &-img {
    display: block;
    width: 80%;
    margin: auto;
  }

  &-medium-text {
    @include text(
      $font-size: 1.1rem,
      $font-weight: 400,
      $color: $primary-black,
      $line-height: null
    );
    text-align: center;
    padding-top: 15px;

    @include media-query($breakpoint: $tablet-breakpoint) {
      font-size: 1.25rem;
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
      font-size: 1.56rem;
      padding-top: 20px;
    }
  }

  &-large-text {
    @include text(
      $font-size: 1.8rem,
      $font-weight: 400,
      $color: $primary-black,
      $line-height: null
    );
    text-align: center;
    padding-top: 5px;

    @include media-query($breakpoint: $tablet-breakpoint) {
      font-size: 2.19rem;
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
      font-size: 2.5rem;
    }
  }
}
