// =============================
// File Path: scss/components/_section.scss
// Description: Section styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/14/2019
// =============================

.section {
    margin-top: 40px;

    @include media-query($breakpoint: $tablet-breakpoint) {
        margin-top: 60px;
    }
}

.sub-section {
    margin-top: 30px;

    @include media-query($breakpoint: $tablet-breakpoint) {
        padding-top: 50px 0 0 40px;
    }

    &:first-of-type {
        padding-top: 20px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            padding-top: 30px;
        }
    }

    &-no-indent-mobile {
        padding-left: 0;
    }
}