// =============================
// File Path: scss/components/_skills-group.scss
// Description: Skills group styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 1/12/2020
// =============================

#skills {
  @include flex-container($justify-content: center, $align-items: start);
  flex-wrap: wrap;

  @include media-query($breakpoint: $card-horizontal-split-breakpoint) {
    justify-content: space-between;
  }
}

.skills-group {
  margin: 20px;

  @include media-query($breakpoint: $tablet-breakpoint) {
    margin: 30px 40px;
  }

  @include media-query($breakpoint: $tablet-breakpoint) {
    margin: 30px 60px;
  }

  &-heading {
    @include text(
      $font-size: 1.2rem,
      $font-weight: 300,
      $color: null,
      $line-height: null
    );
    text-align: center;
    margin-bottom: 10px;
  }

  &-pill {
    @include text(
      $font-size: 1rem,
      $font-weight: 400,
      $color: $primary-white,
      $line-height: null
    );
    text-align: center;
    padding: 7px 0;
    border-radius: 20px;
    width: 280px;
    margin: 0 auto 10px;

    @include media-query($breakpoint: $tablet-breakpoint) {
      justify-content: left;
    }
  }

  &-web-dev-pill {
    background-color: $primary-blue;
  }

  &-ios-dev-pill {
    background-color: $primary-orange;
  }

  &-ui-design-pill {
    background-color: $primary-green;
  }

  &-other-pill {
    background-color: $primary-pink;
  }
}

#skills-group {
  &-web-dev-heading {
    color: $primary-blue;
  }

  &-ios-dev-heading {
    color: $primary-orange;
  }

  &-ui-design-heading {
    color: $primary-green;
  }

  &-other-heading {
    color: $primary-pink;
  }
}
