// =============================
// File Path: scss/utilities/_mixins.scss
// Description: SCSS Mixins
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/13/2019
// =============================

@mixin flex-container($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin text($font-size, $font-weight, $color, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    line-height: $line-height;
}

@mixin media-query($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}