// =============================
// Description: SCSS Mixins
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin grid($grid-template-rows, $grid-template-columns, $align-items) {
    display: grid;
    grid-template-rows: $grid-template-rows;
    grid-template-columns: $grid-template-columns;
    align-items: $align-items;
}

@mixin text($font-size, $font-weight, $color, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    line-height: $line-height;
}

@mixin media-query($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
