// =============================
// Description: SCSS Variables
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

// -----------------------------
// COLOR VARIABLES
// -----------------------------
$primary-color: #5477c9;
$orange-color: #da6500;
$red-color: #ee5252;
$pin-colork: #d40069;
$green-color: #33b121;
$black-color: #2d2d2d;
$white-color: #ffffff;
$primary-background-color: #fdfdfd;

$github-black: #0f0c0d;
$linkedin-blue: #2867b2;

$qualtrics-seaform-color: #21dbaa;
$qualtrics-glacier-color: #00b4ef;
$qualtrics-cobalt-color: #0768dd;
$qualtrics-nightshade-color: #5f1ae5;
$kaleida-health-color: #005b82;

$fl-tech-red: #761013;
$treehouse-green: #5fcf80;
$udemy-red: #e15f53;

// -----------------------------
// BOX SHADOW VARIABLES
// -----------------------------
$primary-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);

// -----------------------------
// HEIGHT VARIABLES
// -----------------------------
$header-height: 185px;

// -----------------------------
// BREAKPOINT VARIABLES
// -----------------------------
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
