// =============================
// Description: SCSS Variables
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

// -----------------------------
// COLOR VARIABLES
// -----------------------------
$primary-color: #5477c9;
$orange-color: #da6500;
$red-color: #ee5252;
$pin-colork: #d40069;
$green-color: #33b121;
$black-color: #2d2d2d;
$white-color: #ffffff;
$light-gray-color: #ebebeb;
$primary-background-color: #fdfdfd;

$github-black: #0f0c0d;
$linkedin-blue: #2867b2;

$qualtrics-seaform-color: #21dbaa;
$qualtrics-glacier-color: #00b4ef;
$qualtrics-cobalt-color: #0768dd;
$qualtrics-nightshade-color: #5f1ae5;
$kaleida-health-color: #005b82;

$florida-tech-color: #761013;
$treehouse-color: #5fcf80;
$udemy-color: #e15f53;
$frontend-masters-color: #c02d28;

$tma-color: rgba(#5f9cd1, 0.8);
$web-app-dashboard-color: rgba(#7477bf, 0.8);
$web-style-guide-color: rgba(#57e2bf, 0.8);

// -----------------------------
// BOX SHADOW VARIABLES
// -----------------------------
$primary-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);

// -----------------------------
// BREAKPOINT VARIABLES
// -----------------------------
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
