// =============================
// Description: Base element styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// =============================

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $primary-gray;
}

main {
    @include media-query($breakpoint: $desktop-breakpoint) {
        max-width: 1100px;
        margin: auto;
    }
}
