// =============================
// File Path: scss/components/_page-header.scss
// Description: Page header styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/13/2019
// =============================

#about-me-page-header {
    width: 280px;
    margin: 25px auto 0;

    &-info {
        width: 100%;
        background-color: $primary-blue;
        padding: 20px;
        border-radius: 20px;
        box-shadow: $primary-box-shadow;

        &-small-text {
            @include text(
                $font-size: 1.1rem,
                $font-weight: 300,
                $color: $primary-white,
                $line-height: 1.4rem
            );
        }

        &-medium-text {
            @include text(
                $font-size: 1.15rem,
                $font-weight: 400,
                $color: $primary-white,
                $line-height: 1.4rem
            );
            padding-top: 15px;
        }

        &-large-text {
            @include text(
                $font-size: 1.8rem,
                $font-weight: 400,
                $color: $primary-white,
                $line-height: 2.2rem
            );
            padding-top: 15px;
        }
    }

    &-buttons {
        @include flex-container($justify-content: space-between, $align-items: center);
        width: 280px;
        margin-top: 25px;
    }

    &-button {
        &-github-text {
            color: $github-black;
        }

        &-linkedin-text {
            color: $linkedin-blue;
        }
    }

    &-github-button {
        border-color: $github-black;
    }

    &-linkedin-button {
        border-color: $linkedin-blue;
    }
}

.about-me-page-header-button {
    @include flex-container($justify-content: center, $align-items: center);
    border: 2px solid;
    border-radius: 10px;
    width: 130px;
    height: 40px;

    &-text {
        @include text(
            $font-size: 1.2rem,
            $font-weight: 300,
            $color: null,
            $line-height: 1.4rem
        );
    }

    &-logo {
        height: 70%;
        padding-right: 10px;
    }
}
