// =============================
// File Path: scss/components/_paragraph.scss
// Description: Paragraph styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/13/2019
// =============================

.paragraph {
    @include text(
        $font-size: 1rem,
        $font-weight: 300,
        $color: $primary-black,
        $line-height: 1.5rem
    );
    text-indent: 2rem;
    padding-top: 10px;
    text-align: justify;

    &:first-of-type {
        padding-top: 15px;
    }
}