// =============================
// File Path: scss/components/_section-heading.scss
// Description: Section heading styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/13/2019
// =============================

.section-heading {
    @include text(
        $font-size: 1.2rem,
        $font-weight: 400,
        $color: $primary-red,
        $line-height: null
    );
    position: relative;
    display: inline-block;
    margin: 0 20px;

    @include media-query($breakpoint: $tablet-breakpoint) {
        font-size: 1.25rem;
        margin: 0 40px;
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
        font-size: 1.56rem;
        margin: 0 60px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 2px;
        width: 30px;
        height: 1px;
        background-color: $primary-red;
    }
}
