// =============================
// File Path: scss/components/_image.scss
// Description: Image styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/14/2019
// =============================

#hometown-img {
    width: 100%;
    max-width: 400px;
    padding-top: 15px;
}