// =============================
// File Path: scss/components/_list.scss
// Description: List styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/13/2019
// =============================

.no-list-style {
    list-style: none;
}

.education-list {
    padding: 10px 0 0 20px;

    &-item {
        @include text(
            $font-size: 1rem,
            $font-weight: 400,
            $color: $primary-black,
            $line-height: 1.25rem
        );
        padding-top: 10px;

        @include media-query($breakpoint: $desktop-breakpoint) {
            font-size: 1.13rem;
            line-height: 1.4rem;
        }

        &:first-of-type {
            @include media-query($breakpoint: $tablet-breakpoint) {
                padding-top: 20px;
            }
        }
    }
}
