// =============================
// File Path: scss/components/_page-header.scss
// Description: Page header styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/13/2019
// =============================

#page-header-about-me {
    width: 280px;
    @include flex-container($justify-content: center, $align-items: start);
    margin: 25px auto 0;

    @include media-query($breakpoint: $tablet-breakpoint) {
        width: 100%;
        margin: 0;
        padding: 50px 40px 0;
        justify-content: space-between;
        // flex-wrap: wrap;
    }

    

    &-info {
        width: 290px;
        background-color: $primary-blue;
        padding: 20px;
        border-radius: 20px;
        box-shadow: $primary-box-shadow;

        @include media-query($breakpoint: $desktop-breakpoint) {
            width: 360px;
            padding: 40px;
        }

        &-small-text {
            @include text(
                $font-size: 1.1rem,
                $font-weight: 300,
                $color: $primary-white,
                $line-height: 1.4rem
            );

            @include media-query($breakpoint: $tablet-breakpoint) {
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }

        &-medium-text {
            @include text(
                $font-size: 1.1rem,
                $font-weight: 400,
                $color: $primary-white,
                $line-height: 1.4rem
            );
            padding-top: 15px;

            @include media-query($breakpoint: $tablet-breakpoint) {
                font-size: 1.25rem;
                line-height: 1.5rem;
            }

            @include media-query($breakpoint: $desktop-breakpoint) {
                font-size: 1.56rem;
                line-height: 1.9rem;
                padding-top: 20px;
            }
        }

        &-large-text {
            @include text(
                $font-size: 1.8rem,
                $font-weight: 400,
                $color: $primary-white,
                $line-height: 2.2rem
            );
            padding-top: 15px;

            @include media-query($breakpoint: $tablet-breakpoint) {
                font-size: 2.19rem;
                line-height: 2.5rem;
                padding-top: 20px;
            }
            
            @include media-query($breakpoint: $desktop-breakpoint) {
                font-size: 2.5rem;
                line-height: 2.9rem;
            }
        }
    }

    &-img {
        display: none;
        @include media-query($breakpoint: $tablet-breakpoint) {
            display: block;
            height: 211px;
        }

        @include media-query($breakpoint: $desktop-breakpoint) {
            height: 280px;
        }
    }
}

#page-header-links {
    @include flex-container($justify-content: space-between, $align-items: center);
    width: 290px;
    margin: 40px auto 0;
    
    @include media-query($breakpoint: $tablet-breakpoint) {
        margin: 40px 0 0 40px;
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
        width: 360px;
    }
}

.page-header-link {
    @include flex-container($justify-content: center, $align-items: center);
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;

    @include media-query($breakpoint: $desktop-breakpoint) {
        padding: 10px 20px;
    }

    &-text {
        @include text(
            $font-size: 1.2rem,
            $font-weight: 300,
            $color: null,
            $line-height: 1.4rem
        );

        @include media-query($breakpoint: $desktop-breakpoint) {
            font-size: 1.56rem;
            line-height: 1.8rem;
        }
    }

    &-logo {
        height: 70%;
        padding-right: 10px;
    }
}

#page-header-link {
    &-github-text {
        color: $github-black;
    }

    &-linkedin-text {
        color: $linkedin-blue;
    }

    &-github {
        border-color: $github-black;
    }

    &-linkedin {
        border-color: $linkedin-blue;
    }
}
