// =============================
// File Path: scss/components/_section.scss
// Description: Section styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/14/2019
// =============================

.section {
    padding: 60px 20px 0;

    @include media-query($breakpoint: $tablet-breakpoint) {
        padding: 75px 40px 0;
    }
}

.sub-section {
    padding: 30px 0 0 20px;

    @include media-query($breakpoint: $tablet-breakpoint) {
        padding-top: 50px;
    }

    @include media-query($breakpoint: $tablet-breakpoint) {
        padding-left: 40px;
    }

    &:first-of-type {
        padding-top: 20px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            padding-top: 30px;
        }
    }
}