// =============================
// File Path: scss/utilities/_variables.scss
// Description: SCSS Variables
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/13/2019
// =============================

// -----------------------------
// COLOR VARIABLES
// -----------------------------
$primary-blue: #5477C9;
$primary-red: #EE5252;
$primary-green: #33CF66;
$primary-black: #2D2D2D;
$primary-white: #fff;
$header-footer-background-color: #FAFAFA;
$github-black: #0F0C0D;
$linkedin-blue: #2867B2;


// -----------------------------
// BOX SHADOW VARIABLES
// -----------------------------
$primary-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .5);


// -----------------------------
// BREAKPOINT VARIABLES
// -----------------------------
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;